.room__img img { 
    height: 230px;
    width:100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 50px -10px;
    background-color: #fff ;
}

.room__img {
    position: relative;
}

.room__img span { 
    position: absolute;
    right: 0;
    width: max-content;
    height: max-content; 
    z-index: 10;
    background: var(--main);
    color: #fff;
    padding: 0.3rem 0.5rem; 
    border-radius: 0 0 0 5px;
}

.card__top {
    display: flex;
    justify-content: right; 
}

.card__top span i {
    color: rgb(26, 26, 26);
}

.room__rating{
    font-size: 1rem;
    color: black;
}

.room__title a{
    text-decoration: none;
    color: var(--main);
    font-size: 1.3rem;
    
}

.card__bottom a {
    text-decoration: none;
    color: black;
}

.btnbook {
    border: 2px solid var(--main);
    background-color: #fff;
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
}

.btnbook:hover {
    background-color: var(--main);
    transition: 0.2s ease;
}

.btnbook:hover a {
    color: white;
    transition: 0.2s ease;
}

